@font-face {
    font-family: BacasimeAntique;
    src: url(fonts/BacasimeAntique-Regular.ttf), url(fonts/DancingScript-VariableFont_wght.ttf);
}   
@font-face {
    font-family: dancingscripts;
    src:  url(fonts/DancingScript-VariableFont_wght.ttf);
} 
@font-face {
    font-family: montseerat ;
    src:  url(fonts/Montserrat-VariableFont_wght.ttf);
} 
@font-face {
    font-family: popins;
    src:  url(fonts/Poppins-Medium.ttf);
} 
@font-face {
    font-family: lato;
    src:  url(fonts/Lato-Regular.ttf);
} 
#body {
    display: grid;
    box-sizing: border-box;
} 
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 
/* main section */
main {
    border: 1px solid rgba(0, 0, 0, 0.092);
    background-color: rgba(223, 225, 238, 0.492);
    font-family: popins, 'Courier New', Courier, monospace, Helvetica, sans-serif;

    display: flex;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
}
.github-svg {
    width: 1.5rem;
    height: 1.5rem;
}
.resume-holder {
    display: flex;
    justify-content: flex-end;
    padding-inline-end: 20%;
    margin-inline-start: 1rem;
    height: 50px;
    width: 100%;
    gap: 1.44rem;
    place-items: center;
}
.button {
    display: flex;
    border: 1px solid red; 
    height: 36px;
    text-decoration: none;
    color: rgb(231, 237, 241);
    border: 2px solid rgb(77, 77, 80);
}
.p1 {
    display: flex;
    place-items: center;
    padding: 1rem;
    flex: 6;
    font-size: 0.9rem;
    font-family: popins,'Times New Roman', Times, serif;
    font-weight: bold;
    background-color: black;
}
.p2 {
    display: flex;
    place-items: center;
    flex: 1;
    padding: 1rem;
    font-weight: bold;
    background-color: rgba(174, 90, 12, 0.734); 
    background-color: rgba(223, 225, 238, 0.492);
    color: black;
}
.image {
    box-sizing: border-box;
    display: flex;
}
.first-child {
    font-size: 2.6rem;
    width: 25ch;
    font-weight: 100;
}
.des-me {
    font-size: 1rem;
    font-weight: 500;
    width: 70ch;
    font-family: montseerat;
}
.bold {
    font-weight: 800;
    font-family: dancingscripts, montseerat;
}
.description {
    height: 100%;
    /* border: 1px solid salmon; */
    padding-block: 5px;
    padding-inline:  3rem;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}
.image {
    flex: 1;
    width: 200px;
    height: 200px;
    align-self: center;
    justify-self: center;
}
.image-flex {
    border-radius: 48% 52% 23% 77% / 55% 41% 59% 45% ;
    width: 160px;
    height: 160px;
}
.nav-wrap {
    width: 50%;
    display: grid;
    place-items: center;
    /* border: 1px solid red; */
    padding-top: -100px;
}
.social-medias  {
    padding-left: 1.3rem;
    padding-top: 2.2rem;
    display: flex;
    flex-direction: column;
    gap: 0.55rem;
    align-items: flex-end;
    justify-content: center;
    width: 98%;
    list-style: none;
    box-sizing: border-box;
    /* background-color: aqua; 

    border: 1px solid red; */
}
.social-medias > li:hover .s-links > svg{
    transform: translateX(3px);
}
/* section one part */
#about {
    min-height: 40vh;
    padding:  3rem;
    box-sizing: border-box;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    color: white;
    font-size: 1rem;
    font-weight: 200;
    width: 100%;   
    flex-wrap: wrap;
    font-family: montseerat;
}
#about > * {
    max-width: 115ch;
}
#about > h3 {
    color: rgb(240, 238, 238);
    font-size: 2.7rem;
    font-weight: 200;
    font-style:normal;
}

/* section2 part */
#works > h2{
    font-size: 2.5rem;
    font-family: popins;
    color: rgb(37, 36, 36);
}
#works {
    background-color: rgba(223, 225, 238, 0.492);
    padding: 3rem 3rem;
    box-sizing: border-box;
    width: 100%;   
}
.projects-wrapper {
    display: grid;
    margin-block-start: 2.5rem;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    /* grid-template-columns: repeat(auto-fill, max(40%, 600px));     */
}
.folder-wrapper {
    padding-inline: 1rem;
    display: flex;
    justify-content: space-between;
}
.folder-wrapper > ul {
    display: flex;
    gap: 1.2rem;
}
.js {
    width: 40px; 
    border: 1px solid transparent;
    border-radius: 10px;
}
.project * {
    list-style: none;
    font-family: lato, 'Times New Roman', Times, serif;
}
.project {
    display: flex;
    box-sizing: border-box;
    justify-content: flex-end;
    width: max(40%, 600px);
    background-image: url(images/shifaaz-shamoon-9K9ipjhDdks-unsplash.jpg);
    border-radius: 0.4rem;
    overflow: hidden;
    box-shadow: 0px 0px 0px 2px rgb(147, 145, 145);
}
.materials {
    box-sizing: border-box;
    padding: 0.6rem 0.8rem; 
    width: 20rem;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 0.8rem;
    flex: 1;
    background-color: rgba(193, 195, 208, 0.492);
}
.materials > ul {
    display: flex;
    gap: 1rem;
}
.w-img {
    max-width: 100%;
    height: 500px;
}
/* skill */

#skills {
    background-color: black;
    color: rgb(221, 216, 216);
    font-family: popins;  
    box-sizing: border-box;
    padding: 3rem 0;

    display: flex;
    flex-direction: column;
    gap: 1.9rem;
}
.skills {
    display: flex;
    gap: 1.5rem;
    justify-content: space-around;
    padding-inline: 3rem;
    flex-wrap: wrap;
}
.s-h1 {
    color: rgb(221, 216, 216);
    font-size: 3rem;
    font-weight: 500;
    border: 1px solid transparent;
    border-bottom-color: linear-gradient(to right, rgb(221, 216, 216), black);
    border-bottom-width: 0.25rem;
    border-bottom-right-radius: 1.5rem;
    padding-left: 1rem;
}
.skills > section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
#skills  h3 {
    font-size: 1.8rem;
    font-weight: 700;
}
#skills  ul {
    font-size: 1.1rem;
    font-weight: 100;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    list-style-type:circle;
}
  

/* footer part */
#contact {
    background-color: rgba(223, 225, 238, 0.492);
    font-family: popins, Cochin, Georgia, Times, 'Times New Roman', serif, Courier, monospace;
    width: 100%;
}
.round1 {
    width: 110px;
    border: 1px solid transparent;
    border-radius: 50%;
    box-shadow: 0 0 6px 2px rgb(221, 216, 216);
}
.contact {
    display: flex;
    justify-content: center;
    gap: 1.3rem;
    width: 80%;
    margin: 3rem auto;
}
.contact > section {
    box-sizing: border-box;
    padding: 1.5rem 3.5rem;
    display: flex;
    gap: 0.8rem;
    flex-direction: column;
    flex: 1;
}
.send {
    width: 1rem;
    height: 1rem;
    margin-left: 5px;
    margin-top: 3px;
    transform: rotate(10deg);
}
.contact > .footer-sec1 {
    gap: 2rem;
}
.footer-description {
    width: 30ch;
    font-size: 1.1rem;
    color: rgba(37, 37, 39, 0.903);
}
.footer-sec2 > h3{
    font-size: 2.8rem;
}
form > div {
    display: flex;
    flex-direction: column;
}
textarea {
    border: 1px solid rgb(138, 137, 137);
    border-radius: 0.6rem;
    background-color:  rgb(230, 233, 236);
    padding: 10px;
    /* box-shadow: 0 0 8px 1.5px rgb(221, 216, 216); */
    box-sizing: border-box;
    font-size: 1rem;
    font-family: popins, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, Courier, monospace sans-serif;
}
.submit {
    background-color: rgb(230, 233, 236);
    padding: 8px 18px;
    border: 1px solid rgb(123, 122, 122);
    border-radius: 0.65rem;
    font-family: popins, Georgia, 'Times New Roman', Times, serif;
    font-size: 0.97rem;
    /* box-shadow: 0 0 8px 1.5px rgb(221, 216, 216); */
    width: 105px;
    height: 45px;
}
form {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: flex-start;
    padding-block: 0.6rem;
    color: rgb(56, 56, 55);
}
form input {
    margin-block-start: 1px;
    height: 2.3rem;
    border: 1px solid rgb(125, 123, 123);
    /* box-shadow: 0 0 3px 1.5px rgb(172, 168, 168); */
    border-radius: 0.5rem;
    font-family: montseerat;
    min-width: 12rem;
    box-sizing: border-box;
    padding: 4px 10px;
    background-color: rgb(232, 236, 239);
}
.lighter {
    color: rgb(81, 82, 89);
    font-family: dancingscripts;
    font-size: 1.5rem;
    font-weight: 600;
}
.name1 {
    color: rgb(63, 59, 59);
    font-size: 1.2rem;

}
hr {
    color: rgba(82, 78, 78, 0.222);
    background-color: rgb(211, 213, 214);
    width: 80%;
    height: 4px;
    margin: 0 auto;
}
footer > p {
    text-align: right;
    padding-inline-end: 10%;
    color: rgb(188, 187, 185);
}

/* media */












@media screen and (max-width: 821px){ 
svg {
   width: 50px;
   height: 50px;
}  
main {
    flex-direction: column-reverse;
    color: black;
    padding-block: 150px;
    min-height: 92vh;
}
.nav-wrap {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 2.5rem;
}
.image {
    width: 15rem;
    height: 15rem;
}
.image-flex {
    width: 15rem;
    height: 15rem;
}
 .resume-holder {
    display: flex;
    justify-content: flex-start;
    padding-inline-start: 20%;
    margin-inline-start: 1rem;
    height: 60px;
    width: 100%;
    gap: 1.6rem;
    place-items: center;
} 
.button {
    display: flex;
    border: 1px solid red; 
    height: 60px;
    text-decoration: none;
    color: rgb(231, 237, 241);
    border: 2px solid rgb(77, 77, 80);
}
.p1, .p2 {
    font-size: 1.7rem;
}
.github-svg {
    width: 40px;
    height: 40px;
}
#works {
    padding: 3rem 1rem;
}
#about {
    font-size: 1.6rem;
    color: rgb(197, 196, 196);
    font-weight: lighter;
    font-family: popins;
    padding: 3rem 1.7rem;
}
#about > h3{
    font-size: 4rem;
    font-family: montseerat;
    font-weight: 300;
}
.projects-wrapper {
    width: 100%;
    grid-template-columns: repeat(auto-fill, max(100%, 600px));  
    /* grid-template-rows: repeat(auto-fill, 600px);  */
}

.des-me {
    font-family: popins, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
    letter-spacing: 0.1rem ;
    max-width: 50ch;
    /* font-size: 1.5rem; */
}
/* skill part */
.s-h1 {
    font-size: 3.7rem;
}
#skills h3 {
    font-size: 2.1rem;
}
#skills ul {
    font-size: 1.6rem;
}
/* Footer part */
.contact {
    flex-direction: column-reverse;
}
.footer-description {
    font-size: 1.7rem;
}
.submit {
    background-color: rgb(230, 233, 236);
    padding: 15px 25px;
    border: 1px solid rgb(194, 186, 186);
    border-radius: 1.3rem;
    font-family: popins, Georgia, 'Times New Roman', Times, serif;
    font-size: 1.7rem;
    box-shadow: 0 0 5px 4px rgb(221, 216, 216);
    width: 170px;
    height: 70px;
}
.name1{
    font-size: 2rem;
}
.lighter {
    font-size: 2.5rem;
}
.project {
    flex-direction: column;
    width: 100%;
    font-size: 1.5rem;
    padding: 1rem;
    /* height: 380px; */
}
.footer-sec2 > h3{
    font-size: 3.5rem;
}
.label {
    font-size: 1.7rem;
}
.e-mail {
    font-size: 1.7rem;
}
.inpuut {
    height: 60px;
    min-width: 365px;
    font-size: 1.7rem;
    font-family: popins, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.materials{
    width: 100%;
    flex-shrink: 1;
    padding: 1rem 2rem;
}
.materials *{
    font-size: 1.8rem;
}
.img-wrap {
    flex-shrink: 2;
    width: 100%;
}
.w-img {
    width: 100%;
    max-height: 250px;
}
.send {
    width: 28px;
    height: 29px;
}
textarea {
    font-size: 1.8rem;
    box-sizing: border-box;
}
}
 @media (max-width: 392px) {
    main{
        min-height: 110vh;
    }
    #works {
        padding: 3rem 1rem;
    }
    .nav-wrap {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 82%;
        margin: 0 auto;
        margin-bottom: 1.5rem;
    }
}
@media (max-width: 300px) {
    main{
        min-height: 110vh;
        padding-block: 95px; 
    }
    #works {
        padding: 3rem 1rem;
    } 
}

body {
    width: 100%;
}
main, footer, #works, #skills, #about {
    width: 100%;
}